* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
background-color: white;

}

.menu-container {
    display: flex;
    justify-content: center;
    padding: 70px 0 0;

}

.menu {
    width: 900px;
    display: flex;
    justify-content: space-around;
    justify-content: space-between;
    font-family: lato;
    font-size: 13px;
    text-align: center;
}

a {
    text-decoration: none;
    justify-content: space-between;
    justify-content: space-around;
    color: white;
    font-weight: bold;
}

a:hover {
    background-color: transparent;
}

.emoney_logo {
    height: 60px;
    width: 200px;
    margin-right: 100px;
    margin-top: -20px;
}


.products:hover, .about_us:hover, .careers:hover, .resources:hover, .enterprise:hover, .customers:hover {
    font-family: 'Lato', sans-serif;
    background: rgba(128,128,128);
    
}

.desktop_header_search {
    width: 150px;
    margin-left: -10px;
    margin-top: -40px; 
    background-color: transparent;
}

.search_btn {
    /*font-family: fontello;*/
    width: 20px;
    margin-left: 150px;
    margin-top: -18px; 
    
}

.free_trial_logo {
    border-radius: 3px;
    height: 45px;
    width: 130px;
    margin-left: -150px;
    margin-top: 10px;
    display: inline-block;
    position: absolute;
}

.video-container {
    z-index: -1;
    position: absolute;
    top: 0;
    width: 100%;
    left: 0;
    height: 100%;
}

.video {
    width: 100% !important;
    height: auto !important;
    opacity: 1 !important;

}

.text_wrap {
    padding-top: 650px;
}

.article-container {
    display: flex;
    justify-content: center;
}

.article-container-middle {
    display: flex;
    justify-content: center;
    border-collapse: separate;
    border-spacing: 60px;
    margin-left: auto;
    margin-right: auto;
    height: 350px;
    width: 40%;
}

.article-container-item {
    display: table-cell;
    text-align: center;
    height: 350px;
    width: 100px;
}

.article-container-item:hover {
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.hand {
    margin-top: 20%;
}
.em-blue {
    color: #00b3e3;
    font-size: 20px;
    font-weight: bold;
    width: %;
    margin: auto;
    margin-top: 5px;
    padding: 20px 50px;
}

.em-green {
    color: #00c18b;
    font-size: 20px;
    font-weight: bold;
    width: %;
    margin: auto;
    margin-top: 5px;
    padding: 20px 50px;
}

.center-text {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 50px;
    font-weight: bold;    
    background: #00b3e3;
    background: linear-gradient(135deg, #00b3e3 0%, #00c18b 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00b3e3', endColorstr='#00c18b', GradientType=1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 20px;
}

.center-text-paragraph {
    font-weight: bolder;
    font-family: 'Roboto', sans-serif;
    width: 90%;
    text-align: center;
    margin: auto;
}

.large-font {
    font-size: 20px;
        font-weight: bolder;

}

.whitespace,
.whitespace-sentence {
    position: relative;
    top: 100px;
}

a {
    text-decoration: none;
}

.button {
    font-size: 5px;
    font-weight: bold;
    border: 2px solid black;
    padding: 20px;
    width: 20px;
    margin: auto;
    background-color: #f4511e;
}

.button_blue {
    position: absolute;
    margin-top: 30px;
    margin: 40px -93px;
    background-color: #00b3e3;
    text-transform: uppercase;
    font-weight: 900;
    color: #fff;
    display: inline-block;
    padding: 20px 20px;
    font-size: 19px;
    border-radius: 2px;
    letter-spacing: .1em;
    border: 1px solid #00b3e3;

}

.button_green {
    position: absolute;
    margin-top: 30px;
    margin: 44px -93px;
    background-color: #00c18b;
    text-transform: uppercase;
    font-weight: 900;
    color: #fff;
    display: inline-block;
    padding: 20px 15px;
    font-size: 19px;
    border-radius: 2px;
    letter-spacing: .1em;
    border: 1px solid #00c18b;
}

a:link {
    color: white;
}

a:visited {
    color: white;
}

